# Virtual environments
venv/
env/
.env/
.venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db


